
.ask-button {
  padding: 4px 16px !important;
  background-color: #007bff !important;
  color: #fff !important;
  text-decoration: none !important;
  border: none !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  transition: background-color 0.3s !important;
}
